@use "variables" as *;

.map {
  padding: 20px;
  background: white;
  box-shadow: $shad;
}
#map {
  height: 500px;
}

.popup {
  width: 300px;
  background-color: white;
  box-shadow: $shad;
  padding: 10px;
  img {
    width: 100%;
  }
}
